<!DOCTYPE html>
<html>
<head>
    <title>Buy Order {{ order.id }}</title>

</head>
<body>
    {% for item in items %}
        <h1>Item -> {{ item.name }}</h1>
        <p>Description of Item -> {{ item.description }}</p>
    {% endfor %}
    <button id="demo" onclick="myFunction({{ order.id }})">Buy</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
    var stripe = Stripe('pk_test_51Mc0f0Eb69GAwradSgxNvJe3R4kvwXa7szaanIeIF2uCIpeRfbSR2QR2bOqfHq0CQDhkTOa624ZFCsU8XnOSC7XQ00TogolLao');

    function myFunction(id) {
        document.getElementById("demo").style.color = "pink";
        console.log('id', id)
        fetch(`/order/${id}`)
            .then(response => {
                return response.json()
            }
            )
            .then(session => {
                stripe.redirectToCheckout({sessionId: session.sessionId})
                stripe.redirectToCheckout({sessionId: session.sessionId2})
            })
        }
</script>

</body>
</html>
